*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*garante que o preenchimento seja incluido no calculo da largura, evitando que o conteúdo ultrapasse a tela. */
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

html {
    width: 100%;
    height: 100vh;
}


header{
    padding: min(2vh, 2rem); /*ajustando o padding para ser flexivel*/
    background-color:#000000 ;
    width: 100%; /*colocamos a largura para 100% do espaço disponível*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*aqui começamos o posicionamento do Header*/
    position: sticky ; /*posicionamento do Header usando o Stick, sendo um posicionamento fixo, porém distinto do fixed.*/
    top: 0; /*Espaçamento superior zerado, fazendo com que o Header fique grudado ao top.*/
    left: 0; /*Espaçamento a esquerda zersando, fazendo com que o header fique grudado a esquerda.*/
    z-index: 999; /*eixo de profundidade (eixo cartesiano). */
    box-shadow: 0 0.21rem 0.5rem white; /*primeiro valor sombra Bottom (0), segundo valor sombra bottom (0.21rem), terceiro valor gradient da sombra (0.5rem). */ 
}

header img{
    width: 10rem;
    height:11rem ;
 
}

header button{
    width: 13rem;
    height: 1.5rem;
    background-color:#e21013 ;
    border-radius: 1rem;
    padding: 1.3rem;
    color: #ffffff;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.sessão-1  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    width: 100%;
    padding: min(20vh, 6rem);
}

.sessão-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    width: 100%;
    padding: min(20vh, 6rem);
}

.div-01 p{
    font-size: 2rem;
    margin: 1.2em;
    color: #ffffff;
}

.div-02 img{
    width: 30em;
    margin: 5rem auto;
    border-radius: 3em;
    display: block; 
}

footer{
    background-color: #000000;
    width: 100%;
    padding: min(10vh, 4rem);
}

@media(max-width: 888px){
    header img{
        font-size: 5.5em;
        z-index: 999;
    }

    header button{
        width: 10rem;
        height: 0.8rem;
    }

    .sessão-1{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .sessão-2{
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .div-01 p{
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: left;
        padding: 2rem;
        width: 100%;
        margin: 2em;
    }

    .div-02 img{
        width: 20rem;
        margin: 0.2rem;
    }
}